*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 600px;
    background-image: url(../images/header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-light{
    background-color: transparent !important;
    color: white 
}

.jumbotron {
    display: flex;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
}

#event-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
